In [1]:
print("Hello 파이썬 하루만에 다시 보네!")

Hello 파이썬 하루만에 다시 보네!

In [ ]:
print('이것도 문자열')

이것도 문자열

In [ ]:
print('323232')
# 이것은 숫자의 형태를 띄고 있는 문자열

In [ ]:
print(12345)
# 숫자형 데이터 (정수)

12345

In [5]:
print(3.1233)
# 숫자형 데이터 (실수)

3.1233

In [6]:
print(True)
print(False)
# 논리형 데이터 (자바와 다르게 앞 글자가 대문자)

True
False

In [13]:
type(12345)  # <class 'int'>
type(3.1233)  # <class 'float'>
type("Hello")  # <class 'str'>
type(True)  # <class 'bool'>
type(False)  # <class 'bool'>
type([1, 2, 3])  # <class 'list'>
type((1, 2, 3))  # <class 'tuple'>
type({"name": "Alice", "age": 30})  # <class 'dict
type({1, 2, 3})  # <class 'set'>
type(None)  # <class 'NoneType'>
# None은 자바의 null과 비슷한 개념
# None은 아무것도 없음을 나타내는 특별한 값
# None은 주로 함수에서 반환값이 없음을 나타낼 때 사용

NoneType

정수끼리의 사칙연산

In [14]:
num1 = 20
num2 = 4

print(num1 + num2)  # 24
print(num1 - num2)  # 16
print(num1 * num2)  # 80
print(num1 / num2)  # 5.0 (자바와 다르게 정수 나누기라도 실수로 나옴)
print(num1 // num2) # 5 (몫을 구하기 위한 연산자)
print(num1 % num2)  # 0 (나머지)
print(num1 ** num2) # 160000 (제곱 연산자) 20*20*20*20

24
16
80
5.0
5
0
160000

In [15]:
num1 = 20.324
num2 = 4.12

print(num1 + num2)  # 24.444
print(num1 - num2)  # 16.204
print(num1 * num2)  # 83.70888
print(num1 / num2)  # 4.93883...
print(num1 // num2) # 4.0 (몫) 정수/정수와 다르게 실수/실수는 몫도 실수
print(num1 % num2)  # 3.880000000000002 (나머지)
print(num1 ** num2) # 146060.2145... (제곱)

24.444000000000003
16.204
83.73488
4.933009708737864
4.0
3.844000000000001
244905.11024287084

연산자 - 비교 연산자
== : 같다
!= : 다르다
>= : 크거나 같다
<= : 작거나 같다

In [19]:
str1 = "Hello"
str2 = "Python"

print(str1 + str2)  # HelloPython
print(str1 * 3)     # HelloHelloHello
print(str1 + " " + str2)  # Hello Python

HelloPython
HelloHelloHello
Hello Python

In [22]:
str1 = "안녕하세요 저는 망나뇽입니다"
print(str1[-2])

니